In [1]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn
np.random.seed(101)

In [4]:
df = pd.DataFrame(randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [5]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [13]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [7]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [15]:
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [17]:
type(df['W'])

pandas.core.series.Series

In [18]:
df['AA'] = df['W'] + df['Z']

In [23]:
df.drop('AA',axis = 1)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [24]:
df

          W         X         Y         Z        AA
A  2.706850  0.628133  0.907969  0.503826  3.210676
B  0.651118 -0.319318 -0.848077  0.605965  1.257083
C -2.018168  0.740122  0.528813 -0.589001 -2.607169
D  0.188695 -0.758872 -0.933237  0.955057  1.143752
E  0.190794  1.978757  2.605967  0.683509  0.874303

In [25]:
df.drop('AA', axis=1, inplace = True)

In [26]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [29]:
df.drop('E', axis=0, inplace=True)

In [30]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [32]:
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [33]:
df.iloc[2]

W   -2.018168
X    0.740122
Y    0.528813
Z   -0.589001
Name: C, dtype: float64

In [37]:
df.loc['A','Y']

0.9079694464765431

In [45]:
df[df['W']>0]['Y']

A    0.907969
B   -0.848077
D   -0.933237
Name: Y, dtype: float64

In [47]:
df[df['W']>0][['X','Z']]

          X         Z
A  0.628133  0.503826
B -0.319318  0.605965
D -0.758872  0.955057

In [51]:
df[(df['W']>0) & (df['Y']<0)]

          W         X         Y         Z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [52]:
df[(df['X']<1) & (df['Z']>0)]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [53]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [54]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057

In [55]:
newind = 'ARG GER FRA BRA'.split()

In [56]:
df['Country'] = newind

In [60]:
df = df.set_index('Country')

In [61]:
df

                W         X         Y         Z
Country
ARG      2.706850  0.628133  0.907969  0.503826
GER      0.651118 -0.319318 -0.848077  0.605965
FRA     -2.018168  0.740122  0.528813 -0.589001
BRA      0.188695 -0.758872 -0.933237  0.955057

In [62]:
#multidimensional
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [73]:
df = pd.DataFrame(np.random.randn(6,7), index=hier_index, columns=['A','B','C','D','E','F','G'])

In [74]:
df

             A         B         C         D         E         F         G
G1 1 -0.497104 -0.754070 -0.943406  0.484752 -0.116773  1.901755  0.238127
   2  1.996652 -0.993263  0.196800 -1.136645  0.000366  1.025984 -0.156598
   3 -0.031579  0.649826  2.154846 -0.610259 -0.755325 -0.346419  0.147027
G2 1 -0.479448  0.558769  1.024810 -0.925874  1.862864 -1.133817  0.610478
   2  0.386030  2.084019 -0.376519  0.230336  0.681209  1.035125 -0.031160
   3  1.939932 -1.005187 -0.741790  0.187125 -0.732845 -1.382920  1.482495

In [92]:
df.loc['G2'].loc[1]

A   -0.479448
B    0.558769
C    1.024810
D   -0.925874
E    1.862864
F   -1.133817
G    0.610478
H   -0.523339
Name: 1, dtype: float64

In [89]:
df[df['A']>0]['A':'D']

Empty DataFrame
Columns: [A, B, C, D, E, F, G]
Index: []

In [90]:
df['H'] = df['F'] + df['G']

In [91]:
df

             A         B         C         D         E         F         G  \
G1 1 -0.497104 -0.754070 -0.943406  0.484752 -0.116773  1.901755  0.238127
   2  1.996652 -0.993263  0.196800 -1.136645  0.000366  1.025984 -0.156598
   3 -0.031579  0.649826  2.154846 -0.610259 -0.755325 -0.346419  0.147027
G2 1 -0.479448  0.558769  1.024810 -0.925874  1.862864 -1.133817  0.610478
   2  0.386030  2.084019 -0.376519  0.230336  0.681209  1.035125 -0.031160
   3  1.939932 -1.005187 -0.741790  0.187125 -0.732845 -1.382920  1.482495

             H
G1 1  2.139882
   2  0.869386
   3 -0.199392
G2 1 -0.523339
   2  1.003965
   3  0.099575

In [93]:
df.index.names

FrozenList([None, None])

In [94]:
df.index.names = ['Group', 'Num']

In [95]:
df

                  A         B         C         D         E         F  \
Group Num
G1    1   -0.497104 -0.754070 -0.943406  0.484752 -0.116773  1.901755
      2    1.996652 -0.993263  0.196800 -1.136645  0.000366  1.025984
      3   -0.031579  0.649826  2.154846 -0.610259 -0.755325 -0.346419
G2    1   -0.479448  0.558769  1.024810 -0.925874  1.862864 -1.133817
      2    0.386030  2.084019 -0.376519  0.230336  0.681209  1.035125
      3    1.939932 -1.005187 -0.741790  0.187125 -0.732845 -1.382920

                  G         H
Group Num
G1    1    0.238127  2.139882
      2   -0.156598  0.869386
      3    0.147027 -0.199392
G2    1    0.610478 -0.523339
      2   -0.031160  1.003965
      3    1.482495  0.099575

In [96]:
df.xs('G1')

,A,B,C,D,E,F,G,H
Num,,,,,,,,
1,-0.497104,-0.754070,-0.943406,0.484752,-0.116773,1.901755,0.238127,2.139882
2,1.996652,-0.993263,0.196800,-1.136645,0.000366,1.025984,-0.156598,0.869386
3,-0.031579,0.649826,2.154846,-0.610259,-0.755325,-0.346419,0.147027,-0.199392

In [100]:
df.xs(1,level='Num')

,A,B,C,D,E,F,G,H
Group,,,,,,,,
G1,-0.497104,-0.754070,-0.943406,0.484752,-0.116773,1.901755,0.238127,2.139882
G2,-0.479448,0.558769,1.024810,-0.925874,1.862864,-1.133817,0.610478,-0.523339