In [7]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
import lxml
import html5lib

ImportError: No module named html5lib

In [2]:
df = pd.read_csv('example')

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df.to_csv('example', index=False)

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

In [8]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

ImportError: html5lib not found, please install it

ImportError: No module named html5lib

In [2]:
import lxml

In [4]:
pwd

u'/Users/danielbillmann/python_development/py_Data_Science_Machine_Learning/Python-for-Data-Analysis/Pandas'