In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({'a':[1,np.nan,np.nan], 'b':[1,5,np.nan], 'c':[2, 4, 2]})

In [14]:
df

     a    b  c
0  1.0  1.0  2
1  NaN  5.0  4
2  NaN  NaN  2

In [10]:
df.dropna(axis=1)

   c
0  2
1  4
2  2

In [15]:
df.dropna(thresh=2)

     a    b  c
0  1.0  1.0  2
1  NaN  5.0  4

In [16]:
df.fillna(value=0)

     a    b  c
0  1.0  1.0  2
1  0.0  5.0  4
2  0.0  0.0  2

In [17]:
df['a'].fillna(value=df['a'].mean())

0    1.0
1    1.0
2    1.0
Name: a, dtype: float64