# Web Scraping with Beautiful Soup

In [38]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen
import re
import pandas as pd
import numpy as np

In [25]:
#espn_bb = "http://www.espn.com/mens-college-basketball/rpi"
us_states = 'https://en.wikipedia.org/wiki/List_of_capitals_in_the_United_States'
#india_states = "https://en.wikipedia.org/wiki/List_of_state_and_union_territory_capitals_in_India"
#url = urlopen(ncaa)
#soup = bs(url, 'html5lib')
#pretty_soup = soup.prettify()

In [21]:
#ncaabb = "http://www.ncaa.com/rankings/basketball-men/d1"

In [22]:
#ncaabb

'http://www.ncaa.com/rankings/basketball-men/d1'

In [35]:
data = pd.read_html(us_states)

In [36]:
d = data[0]

In [47]:
type(d)

pandas.core.frame.DataFrame

In [48]:
array = np.array(d[6])

In [54]:
np.delete(array,0,0)

array([nan, '205764', '31275', '1445632', '193524', '466488', '600158',
       '124775', '36047', '601723', '181412', '420003', '337256', '205671',
       '116250', '829718', '203433', '127473', '25527', '229553', '19136',
       '38394', '617594', '114297', '300851', '173514', '43079', '28190',
       '258379', '55274', '42695', '84913', '75764', '97856', '403892',
       '61272', '822553', '580000', '154637', '49528', '178042', '131686',
       '13646', '635710', '790390', '186440', '7855', '204214', '46478',
       '51400', '233209', '59466'], dtype=object)

In [58]:
states = d[0]

In [62]:
np.array(states.drop([0,1]))

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

In [63]:
municipal_pop = np.array(d[6].drop([0,1]))

In [64]:
municipal_pop

array(['205764', '31275', '1445632', '193524', '466488', '600158',
       '124775', '36047', '601723', '181412', '420003', '337256', '205671',
       '116250', '829718', '203433', '127473', '25527', '229553', '19136',
       '38394', '617594', '114297', '300851', '173514', '43079', '28190',
       '258379', '55274', '42695', '84913', '75764', '97856', '403892',
       '61272', '822553', '580000', '154637', '49528', '178042', '131686',
       '13646', '635710', '790390', '186440', '7855', '204214', '46478',
       '51400', '233209', '59466'], dtype=object)

In [65]:
metro_pop = np.array(d[7].drop([0,1]))

In [66]:
metro_pop

array(['374536', nan, '4192887', '877091', '2527123', '2552195', '1212381',
       '162310', '9051961', '367413', '5268860', '953207', '616561',
       '208182', '1756221', '580255', '230824', '70758', '802484',
       '117114', nan, '4522858', '464036', '3502891', '539057', '149807',
       '74801', '302157', nan, nan, '366513', '183732', '857592',
       '1130490', '108779', '1967066', '1252987', '390738', '647390',
       '1630956', '913797', nan, '1582264', '1716291', '1124197', nan,
       '1231675', '234670', '304214', '561505', '91738'], dtype=object)

In [77]:
munic = [int(i) for i in municipal_pop if type(i)==str]
metro = [int(i) for i in metro_pop if type(i) ==str]

In [81]:
print(max(munic),max(metro))

1445632 9051961

In [82]:
print(min(munic), min(metro))

7855 70758